---
---
{% include header.htm %}


<div id="wrapper">
<!-- OVERLAID IMAGES GO HERE -->
	{% include overlaidimgs.htm %}

{% include sidebar.htm %}


<div id="col-R">


	<div class="cnt-box">
		<div class="cnt-boxTop">To be edited</div>
		<div class="cnt-boxFiller">
			<div class="cnt-boxInfo">
				
				<p align="left">ok</p>
				<div class="clearR"></div>

			</div>
		</div>
		<div class="cnt-boxFoot">
			<div class="author"></div>
		</div>
	</div>


	<div class="cnt-box">
		<div class="cnt-boxTop">So give me a second</div>
		<div class="cnt-boxFiller">
			<div class="cnt-boxInfo">
				<p>grgreghrehtdehjtehtdethuyfjxfjyxjfyjryfjyrtx</p>
			</div>
		</div>
		<div class="cnt-boxFoot">
			<div class="author">Author Text</div>
		</div>
	</div>

</div>
{% include footer.htm %}

