---
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />


<title>Jory's Website</title>

<meta name="viewport" content="width-device-width, initial-scale=1.0"/>


<!-- CSS FILES -->
<link href="css/theme.css" rel="stylesheet" type="text/css" />


</head>



<body>


<div id="header">
	
	
	<div id="banner">
		<div id="banner-img">
			<div id="logo">
				<img alt="Jory's Website" height="75" src="theme/logo.png" width="280" style="border:0px"/>
			</div>
		</div>
	
	
		<div id="h-navBox">
			<div id="hz-menu">
				<ul>
					<li><a class="h1button" href="/subpage/index.html">Home</a></li>
					<li><a class="h1button" href="#">About</a></li>
					<li><a class="h1button" href="#">Projects</a></li>
					<li><a class="h1button" href="#">Blog</a></li>
					<li><a class="h1button" href="#">Links</a></li>
					<li><a class="h1button" href="#">Games</a></li>
					<li><a class="h1button" href="#">Other</a></li>
				</ul>
			</div>
		</div>

	</div>

</div>



<div id="wrapper">
<!-- OVERLAID IMAGES GO HERE -->
	<div style="position:absolute; top:-5px; left:185px; z-index:9999;"><img src="images/star.png" alt="Star"></div>


<div id="col-L">


	<div class="v-box">
		<div class="v-boxTop">Cool Links!</div>
		<div class="v-boxFiller">
			{% include navlinks.htm %}
		</div>
		<div class="v-boxFoot"></div>
	</div>

	<div class="v-box">
		<div class="v-boxTop">Update</div>
		<div class="v-boxFiller">
			{% include latestupdate.htm %}
		</div>
		<div class="v-boxFoot"></div>
	</div>
</div>



<div id="col-R">


	<div class="cnt-box">
		<div class="cnt-boxTop">This webpage is under construction</div>
		<div class="cnt-boxFiller">
			<div class="cnt-boxInfo">
				
				<p align="left"><img style="float:right" alt="look at him :D" src="images/warn.png" width="120" style="border:0px" />This webpage is under construction, and nothing exists here. So shoo go back. You dummy. It's YOUR faught for clicking on this webpage. Not mine. Infact, actually id go as far as to say that, you should never touch a internet browser ever again. Yeah, you're so stupid for ever deciding to click on this link. And you were actually thinking there was something here. NO THERES NOTHING FUCKING HERE, FUCK YOU</p>
				<div class="clearR"></div>

			</div>
		</div>
		<div class="cnt-boxFoot">
			<div class="author"></div>
		</div>
	</div>
</div>
<div class="clearB"></div>
</div>



<div id="footer">

	<div id="foot-notes">
		unfunnyjory.github.io<br/>
		Created 2024-2025 (Last Updated 2025/08/20)<br/><br/>
		Best Viewed at 1024x768
	</div>	

</div>

</body>
</html>

