---
---
{% include header.htm %}

<div id="wrapper">
<!-- OVERLAID IMAGES GO HERE -->
	{% include overlaidimgs.htm %}

{% include sidebar.htm %}


<div id="col-R">


	<div class="cnt-box">
		<div class="cnt-boxTop">Welcome to my uhh website</div>
		<div class="cnt-boxFiller">
			<div class="cnt-boxInfo">
				
				<p align="left"><img style="float:right" alt="look at him :D" src="/assets/images/jory.png" width="200" style="border:0px" />Welcome to Jorys fucking awesome website!!?! This is my website where you can find all of my cool projects, and other various things. I am Just Jory or also unfunnyjory, you can read more about me: hereee.... <br><br> This website will be used for.... STUFF!!! Videos, Pictures, all the media all right here indeed. I'll most likely post stuff about my life here and post some projects/programs ive made. I'll put old stuff and new stuff and even a bear on this website.</p>
				<div class="clearR"></div>

			</div>
		</div>
		<div class="cnt-boxFoot">
			<div class="author"></div>
		</div>
	</div>


	<div class="cnt-box">
		<div class="cnt-boxTop">Links</div>
		<div class="cnt-boxFiller">
			<div class="cnt-boxInfo">
				<h3 align="left">YouTube -</h3>
				<p align="left">"Main" Channel (Semi Inactive) - <a href="https://www.youtube.com/channel/UCG4vDIdyu5NTHRMDDPbWGzg">Just Jory</a></p>
				<p align="left">High Quality Shitpost Channel / Other - <a href="https://www.youtube.com/@joryirl">JoryIRL</a></p>
				<p align="left">Other Side Projects - <a href="https://www.youtube.com/@unfunnyjory">unfunnyjory</a></p>
				<p align="left">The Bestest Channel of all time - <a href="https://www.youtube.com/@alexsmith_is_so_cool">Alex Smith</a></p>
				<p align="left">Channel set 15 years ago - <a href="https://www.youtube.com/@tezaled93">tezaled93</a></p>
				<h3 align="left">Discord -</h3>
				<p align="left">Main Discord Account - <span class="style8">"justjory</span>"</p>
				<h3 align="left">Scratch -</h3>
				<p align="left">Main Account - <a href="https://scratch.mit.edu/users/Just_Jory/">Just_Jory</a></p>
				<p align="left">Old Account - <a href="https://scratch.mit.edu/users/hine54/">hine54</a></p>
				<h3 align="left">Other Socials -</h3>
				<p align="left">Bluesky account (Inactive) - <a href="https://bsky.app/profile/justjory.bsky.social">Just Jory</a></p>		

			</div>
		</div>
		<div class="cnt-boxFoot">
			<div class="author">Lasted Updated: 2025/08/19</div>
		</div>
	</div>

</div>
{% include footer.htm %}
</body>
</html>

