<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Jory's Website</title>
<!-- CSS FILES -->
	<link href="/assets/css/theme.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="header">
	<div id="banner">
		<div id="banner-img">
			<div id="logo">
				<img alt="Jory's Website" height="75" src="/assets/theme/logo.png" width="280" style="border:0px"/>
			</div>
		</div>
		<div id="h-navBox">
			<div id="hz-menu">
				<ul>
					<li><a class="h1button" href="/">Home</a></li>
					<li><a class="h1button" href="/me/">About Me</a></li>
					<li><a class="h1button" href="/projects/">Projects</a></li>
					<li><a class="h1button" href="/blog/">Blog</a></li>
					<li><a class="h1button" href="/links/">Links</a></li>
					<li><a class="h1button" href="/games/">Games</a></li>
					<li><a class="h1button" href="/other/">Other</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>