---
---
{% include header.htm %}


<div id="wrapper">
<!-- OVERLAID IMAGES GO HERE -->
	{% include overlaidimgs.htm %}

{% include sidebar.htm %}


<div id="col-R">


	<div class="cnt-box">
		<div class="cnt-boxTop">Welcome to the Assets page</div>
		<div class="cnt-boxFiller">
			<div class="cnt-boxInfo">
				
				<p align="left">I'm honestly just using this page as a template, for future pages. But hey, if you're here trying to find all of my assets. Just go to the github page for justjory, you should be able to find all of the stuff there. Not by manually typing stuff in the URL ya silly goose. I'm currently making this page because I am simply refactoring my entire webpage. Because it was a lil messy.</p>
				<div class="clearR"></div>

			</div>
		</div>
		<div class="cnt-boxFoot">
			<div class="author"></div>
		</div>
	</div>


	<div class="cnt-box">
		<div class="cnt-boxTop">Image Time</div>
		<div class="cnt-boxFiller">
			<div class="cnt-boxInfo">
				<p align="left"><img style="float:right" alt="Alt Text for a Template Image" src="assets/images/template_img.png" width="200" style="border:0px" />This is like a example for images. It's also located at /assets/images/template_img.png</p>
			</div>
		</div>
		<div class="cnt-boxFoot">
			<div class="author">Author - 2026-01-11</div>
		</div>
	</div>

</div>
{% include footer.htm %}

